.scrool-vertical {
    overflow-x: hidden;
}

/* Estilizando a barra de rolagem */
.scrool-estilo::-webkit-scrollbar {
    width: 10px;
    height: 5px;

    /* Largura da barra de rolagem */
}

.scrool-estilo::-webkit-scrollbar-thumb {
    background-color: var(--m-3-sys-light-secondary);
    /* Cor do "polegar" (a parte da barra que o usuário arrasta) */
    border-radius: 5px;
    /* Borda arredondada do polegar */
}

.scrool-estilo::-webkit-scrollbar-track {
    background-color: transparent;
    /* Cor da "trilha" (área da barra de rolagem que não está ocupada pelo polegar) */
}


body {
    background: #8F9285;

}

body * {
    font-family: 'Roboto', sans-serif;
    transition: all 300ms ease;
    color: var(--m-3-sys-light-on-surface, #1b1c18);
}

header {
    display: flex;
    justify-content: center;
    height: 71px;
}



.selecionado :hover {
    background: var(--m-3-sys-light-secondary-container);
    cursor: pointer;
}


.conteiner-flutuante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

#backToTop {

    display: none;

    border-radius: var(--arredondamento-do-cantos);

    border: 1.7px solid var(--m-3-sys-light-secondary-fixed);
    background-color: var(--m-3-ref-neutral-neutral-98);
}

.barra-superior {
    border-radius: 28px;
    padding: 8px 4px 8px 4px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
}

.manchete-2 {
    color: var(--m-3-sys-light-on-surface);
    text-align: center;
    font: var(--m-3-title-large, 400 22px/28px "Roboto", sans-serif);
    position: relative;
    flex: 1;
}

.container {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    border-color: var(--m-3-sys-dark-on-surface-variant);
}

.botoes {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    border-radius: 50%;
}


.fundoTransparente {
    display: none;

    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0%);
}









/* PERFIL */
.conteiner_superior_econdido {
    position: absolute;
    width: 95.5%;
    max-width: 800px;
    display: flex;
}

.superior_econdido_menu,
.superior_econdido_perfil {
    display: flex;
    flex: auto;

}

.superior_econdido_perfil {
    justify-content: flex-end;

}

.superior_econdido_menu {
    justify-content: flex-start;

}

.conteiner_perfil {

    background: var(--m-3-sys-light-surface, #FBFAF2);
    border-radius: var(--arredondamento-do-cantos);
}


.conteiner_perfil .perfil {
    height: min-content;
}


.info-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.perfil .barra_superior_user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

.barra_superior_user {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
    margin-bottom: 5px;
    align-items: center;
}

.barra_superior_user h3 {
    display: inline-block;
    margin: 0;
    margin-top: 13px;

    text-overflow: ellipsis;
    vertical-align: top;

    overflow-wrap: anywhere;


    font-weight: 500;

    line-height: 20px;
    letter-spacing: normal;

}

.barra_superior_user h4 {
    display: inline-block;
    margin: 0;

    overflow-wrap: anywhere;


    font-weight: 500;
    font-size: 14px;
}


.container_logout {
    border-radius: 0 0 20px 20px;
}


.container_darkMode,
.container_logout {
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    align-items: center;
    background: var(--m-3-sys-light-secondary-container);
    justify-content: space-around;
}

.container_darkMode {
    border-radius: 20px 20px 0 0;
    margin-bottom: 2px;
}

.container_logout button {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 0;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    gap: 15px;
    display: inline-flex;
    align-items: center;
}

/* BOTAO DARK MODE */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Estilize a caixa do switch */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilize a alavanca (ponteiro) do switch */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: var(--arredondamento-do-cantos);
}

/* Estilize a alavanca quando o switch estiver ativo (ligado) */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: var(--arredondamento-do-cantos);
}

/* Estilize o switch quando estiver ativado (ligado) */
input:checked+.slider {
    background: var(--m-3-sys-dark-on-secondary);
}

/* Estilize a alavanca (ponteiro) quando o switch estiver ativado (ligado) */
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}












.estilo-blocos {
    background: var(--m-3-sys-light-on-primary);
    border-radius: var(--arredondamento-do-cantos);
}






/* Barra Lateral */
/* MENU */
aside.container-menuLateral,
.conteiner_perfil {

    margin-top: 80px;
    position: absolute;
    z-index: 5;
    display: none;
    max-height: 0px;
    opacity: 0;

    transition: opacity 0.2s ease 0.04s;
}

.navigation-drawer,
.perfil {

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 455px;
    position: relative;
    overflow: hidden;
}

.headline {
    padding: 8px 8px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
}

.title {
    color: var(--m-3-sys-light-on-surface-variant, #45483d);
    text-align: left;
    font: var(--m-3-title-small, 500 14px/20px "Roboto", sans-serif);
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section-header-1 {
    border-radius: 100px;
    padding: 18px 16px 18px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.left {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.label {
    color: var(--m-3-sys-light-on-surface-variant, #45483d);
    text-align: left;
    position: relative;
}

.nav-item-1 {

    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.conteiner-opcao {
    padding: 16px 24px 16px 16px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.label2 {
    color: var(--m-3-sys-light-on-secondary-container, #161e0a);
    text-align: left;
    position: relative;
    flex: 1;
}

.badge-label-text {
    color: var(--m-3-sys-light-on-secondary-container, #161e0a);
    text-align: right;
    position: relative;
}

.nav-item-2 {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.icon3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.label3 {
    color: var(--m-3-sys-light-on-surface-variant, #45483d);
    text-align: left;
    font: var(--m-3-label-large, 500 14px/20px "Roboto", sans-serif);
    position: relative;
    flex: 1;
}

.badge-label-text2 {
    color: var(--m-3-sys-light-on-surface-variant, #45483d);
    text-align: right;
    font: var(--m-3-label-large, 500 14px/20px "Roboto", sans-serif);
    position: relative;
}

.nav-item-3 {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.icon5 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.nav-item-4 {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.icon7 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.divider-1 {

    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    transform: translate(0px, 0px);
    overflow: visible;
}


.section-header-2 {
    border-radius: 100px;
    padding: 18px 16px 18px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.nav-item-5 {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.icon9 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.nav-item-6 {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.icon11 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.nav-item-7 {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.icon13 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.divider-2 {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    transform: translate(0px, 0px);
    overflow: visible;
}

.section-header-3 {
    border-radius: 100px;
    padding: 18px 16px 18px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.nav-item-8 {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.icon15 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.nav-item-9 {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.icon17 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.nav-item-10 {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.icon19 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}









.modal-false {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background: var(--m-3-sys-light-surface-container-low, #f5f4ec);
    padding: 0 8px 0 8px;
    height: 0;
    overflow: hidden;
    max-width: 480px;
    width: 100%;
    transition: height 0.5s ease, height 0.5s ease;
    max-height: min-content;

    border-radius: 28px 28px 0px 0px;



    box-shadow: var(--m-3-elevation-light-3-box-shadow,
            0px 1px 3px 0px rgba(0, 0, 0, 0.3),
            0px 4px 8px 3px rgba(0, 0, 0, 0.15));
}






/* Adicione uma classe para ativar a animação */
.modal-expand {
    height: 350px;
}

.bottom-sheet {
    
    

}

.sheet-header {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
}

.drag-handle {
    background: var(--m-3-sys-light-outline, #75786c);
    border-radius: 100px;
    opacity: 0.4;
    flex-shrink: 0;
    width: 32px;
    height: 4px;
    position: relative;
    cursor: pointer;
    padding: 3px;
    transition: transform 0.5s;
}

.drag-handle:hover {
    transform: scale(1.5);
}